.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
COCO_2017/
output/
Boat_dataset.zip
Boat_dataset/
Boat_dataset_virtual/
source_video/
output_image/
output_video/
pretrained_models/
fish_jump_dataset_2024/
water_splash_dataset_2024/
Kaohsiung_Port_dataset/
Tainan_Lifebuoy_dataset/
Tainan_Lifebuoy_dataset_backup/
source_video_backup/
raw_video/